.if-section {
  background-color: black;

}
.if-section img {
  height: 1000px

}
h1 {
  color: orange;
  font-family: "Times New Roman", Times, serif;
  margin: 100px 0px -5px 10px;
  font-size: 50pt

}

.title-text img {
  float: right;
  margin: -75px 10px 10px 10px;
  height: 125px

}

.title-text h2 {
  text-align: center;
  font font-family: "Times New Roman", Times, serif;
  font-size: 30pt
}
.title-text hr {
  margin: 0 0 10px 10px;
}

h2 {
  color: grey;
}

.if-section p {
  color: white;
  position: relative;
  top: -400px;
  left: 800px;
  font-size: 30pt
}
#indent-p {
  padding-left: 50px;

}
p {
  margin: 2px 2px 2px 2px
}
ul {
  margin: 5px 0px 0px 0px
}
h3 { margin: 35px 0px -2px 0px
}
